node_modules/node_modules/
node_modules/
core/obj/core.csproj.nuget.cache
core/obj/core.csproj.nuget.g.props
core/obj/project.assets.json
core/obj/Debug/netcoreapp2.2/core.csproj.CoreCompileInputs.cache
core/obj/Debug/netcoreapp2.2/project.razor.json
release-builds/ElectronC-win32-x64/locales/sk.pak
release-builds/ElectronC-win32-x64/ElectronC.exe
release-builds/ElectronC-win32-x64/LICENSE
release-builds/ElectronC-win32-x64/LICENSES.chromium.html
release-builds/ElectronC-win32-x64/VkICD_mock_icd.dll
release-builds/ElectronC-win32-x64/VkLayer_core_validation.dll
release-builds/ElectronC-win32-x64/VkLayer_object_tracker.dll
release-builds/ElectronC-win32-x64/VkLayer_parameter_validation.dll
release-builds/ElectronC-win32-x64/VkLayer_threading.dll
release-builds/ElectronC-win32-x64/VkLayer_unique_objects.dll
release-builds/ElectronC-win32-x64/chrome_100_percent.pak
release-builds/ElectronC-win32-x64/chrome_200_percent.pak
release-builds/ElectronC-win32-x64/d3dcompiler_47.dll
release-builds/ElectronC-win32-x64/ffmpeg.dll
release-builds/ElectronC-win32-x64/icudtl.dat
release-builds/ElectronC-win32-x64/libEGL.dll
release-builds/ElectronC-win32-x64/libGLESv2.dll
release-builds/ElectronC-win32-x64/natives_blob.bin
release-builds/ElectronC-win32-x64/osmesa.dll
release-builds/ElectronC-win32-x64/resources.pak
release-builds/ElectronC-win32-x64/snapshot_blob.bin
release-builds/ElectronC-win32-x64/v8_context_snapshot.bin
release-builds/ElectronC-win32-x64/version
release-builds/ElectronC-win32-x64/locales/am.pak
release-builds/ElectronC-win32-x64/locales/ar.pak
release-builds/ElectronC-win32-x64/locales/bg.pak
release-builds/ElectronC-win32-x64/locales/bn.pak
release-builds/ElectronC-win32-x64/locales/ca.pak
release-builds/ElectronC-win32-x64/locales/cs.pak
release-builds/ElectronC-win32-x64/locales/da.pak
release-builds/ElectronC-win32-x64/locales/de.pak
release-builds/ElectronC-win32-x64/locales/el.pak
release-builds/ElectronC-win32-x64/locales/en-GB.pak
release-builds/ElectronC-win32-x64/locales/en-US.pak
release-builds/ElectronC-win32-x64/locales/es.pak
release-builds/ElectronC-win32-x64/locales/es-419.pak
release-builds/ElectronC-win32-x64/locales/et.pak
release-builds/ElectronC-win32-x64/locales/fa.pak
release-builds/ElectronC-win32-x64/locales/fi.pak
release-builds/ElectronC-win32-x64/locales/fil.pak
release-builds/ElectronC-win32-x64/locales/fr.pak
release-builds/ElectronC-win32-x64/locales/gu.pak
release-builds/ElectronC-win32-x64/locales/he.pak
release-builds/ElectronC-win32-x64/locales/hi.pak
release-builds/ElectronC-win32-x64/locales/hr.pak
release-builds/ElectronC-win32-x64/locales/hu.pak
release-builds/ElectronC-win32-x64/locales/id.pak
release-builds/ElectronC-win32-x64/locales/it.pak
release-builds/ElectronC-win32-x64/locales/ja.pak
release-builds/ElectronC-win32-x64/locales/kn.pak
release-builds/ElectronC-win32-x64/locales/ko.pak
release-builds/ElectronC-win32-x64/locales/lt.pak
release-builds/ElectronC-win32-x64/locales/lv.pak
release-builds/ElectronC-win32-x64/locales/ml.pak
release-builds/ElectronC-win32-x64/locales/mr.pak
release-builds/ElectronC-win32-x64/locales/ms.pak
release-builds/ElectronC-win32-x64/locales/nb.pak
release-builds/ElectronC-win32-x64/locales/nl.pak
release-builds/ElectronC-win32-x64/locales/pl.pak
release-builds/ElectronC-win32-x64/locales/pt-BR.pak
release-builds/ElectronC-win32-x64/locales/pt-PT.pak
release-builds/ElectronC-win32-x64/locales/ro.pak
release-builds/ElectronC-win32-x64/locales/ru.pak
release-builds/ElectronC-win32-x64/locales/sl.pak
release-builds/ElectronC-win32-x64/locales/sr.pak
release-builds/ElectronC-win32-x64/locales/sv.pak
release-builds/ElectronC-win32-x64/locales/sw.pak
release-builds/ElectronC-win32-x64/locales/ta.pak
release-builds/ElectronC-win32-x64/locales/te.pak
release-builds/ElectronC-win32-x64/locales/th.pak
release-builds/ElectronC-win32-x64/locales/tr.pak
release-builds/ElectronC-win32-x64/locales/uk.pak
release-builds/ElectronC-win32-x64/locales/vi.pak
release-builds/ElectronC-win32-x64/locales/zh-CN.pak
release-builds/ElectronC-win32-x64/locales/zh-TW.pak
release-builds/ElectronC-win32-x64/resources/app.asar
release-builds/ElectronC-win32-x64/resources/electron.asar
release-builds/ElectronC-win32-x64/swiftshader/libEGL.dll
release-builds/ElectronC-win32-x64/swiftshader/libGLESv2.dll
core/obj/Debug/netcoreapp2.2/core.assets.cache
core/bin/Debug/netcoreapp2.2/core.dll
core/bin/Debug/netcoreapp2.2/core.pdb
core/bin/Debug/netcoreapp2.2/core.deps.json
core/bin/Debug/netcoreapp2.2/core.runtimeconfig.json
core/bin/Debug/netcoreapp2.2/core.runtimeconfig.dev.json
core/obj/core.csproj.nuget.g.targets
core/obj/Debug/netcoreapp2.2/core.dll
core/obj/Debug/netcoreapp2.2/core.pdb
core/obj/Debug/netcoreapp2.2/core.csproj.CoreCompileInputs.cache
core/obj/Debug/netcoreapp2.2/core.csproj.FileListAbsolute.txt
core/obj/Debug/netcoreapp2.2/core.csprojAssemblyReference.cache
core/obj/Debug/netcoreapp2.2/project.razor.json
